#commentSection {
    font-size: 14px;
}

.needSmallerButton {
    font-size: 12px;
}

.profilePicture {
    max-width: 200px;
    max-height: 200px;
}

body {
    background-image: url("https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}