#commentSection {
    font-size: 14px;
}

.needSmallerButton {
    font-size: 12px;
}

.profilePicture {
    max-width: 200px;
    max-height: 200px;
}
html, body {
    height: 100%;
}

body {
    margin: 0;
    background-image: url("https://cdn.discordapp.com/attachments/722127365085462670/722128069833261117/bluegra.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.feed-table-bg {
    background-color: rgba(255, 255, 255, 0.25);
}

.rootpage {
    background-image: none;
    background-color: black;
}

.crossfade > figure {
  animation: imageAnimation 50s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  margin: 0;
}

.crossfade > figure:nth-child(1) { background-image: url('https://images.unsplash.com/photo-1515378791036-0648a3ef77b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); }

.crossfade > figure:nth-child(2) {
  animation-delay: 10s;
  background-image: url('https://cdn.discordapp.com/attachments/722127365085462670/722147768453300254/iphone-notebook-pen-working-34578.jpg');
}

.crossfade > figure:nth-child(3) {
  animation-delay: 20s;
  background-image: url('https://cdn.discordapp.com/attachments/722127365085462670/722147768210030602/kevin-ku-aiyBwbrWWlo-unsplash.jpg');
}

.crossfade > figure:nth-child(4) {
  animation-delay: 30s;
  background-image: url('https://cdn.discordapp.com/attachments/722127365085462670/722147771003437066/coding-924920_1920.jpg');
}

.crossfade > figure:nth-child(5) {
  animation-delay: 40s;
  background-image: url('https://cdn.discordapp.com/attachments/722127365085462670/722147771741896714/computer-1869236_1920.jpg');
}

@keyframes 
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}