<%- include('partials/header'); -%>

<div class="container">

<h1 class="my-4">
    <%= user.username %>
</h1>
<small>The undertaker</small>

<br>
<hr>
<br>

<h3>
    Info
</h3>
<p>
    Rating: <%= user.rating %>
</p>

</div>

<%- include('partials/footer'); -%>