<%- include('partials/header'); -%>

<h1 class="display-2">Page not found!</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, esse optio. Tempora omnis ullam, dignissimos fuga consectetur labore ex? Repudiandae tempore dolor id neque provident sint laborum saepe consequatur repellat!
</p>

<%- include('partials/footer'); -%>