<%- include('partials/header'); -%>

<div class="container">

    <h1 class="display-1 text-center p-3">Root page</h1>

    <p class="p-3 solidbg">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, exercitationem libero possimus adipisci recusandae omnis esse modi repudiandae quod cupiditate illo! Esse ratione deleniti ipsam reiciendis at quisquam, odio aspernatur, cumque quasi quibusdam quod nobis, corporis saepe excepturi quia sapiente ducimus iste optio? Inventore, perferendis iusto, aliquam veniam itaque rem animi corrupti totam dignissimos voluptatem asperiores sunt iure accusamus harum reprehenderit voluptatum eum atque nihil illo nulla temporibus. Temporibus reprehenderit ducimus totam. Tenetur officiis placeat possimus ad magnam praesentium voluptas laudantium. Recusandae, omnis voluptatum! Dolorem accusantium quos temporibus quo, vitae totam. Minima asperiores deleniti placeat tempora, eos debitis accusamus quod?
    </p>

    <br>

    <a href="/posts" class="btn btn-dark" style="width: 100%;">
        Take me to CPP!
    </a>

</div>

<%- include('partials/footer'); -%>