<%- include('partials/header'); -%>

<div class="container">

    <h1 class="display-1 text-center">Root page</h1>

    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, exercitationem libero possimus adipisci recusandae omnis esse modi repudiandae quod cupiditate illo! Esse ratione deleniti ipsam reiciendis at quisquam, odio aspernatur, cumque quasi quibusdam quod nobis, corporis saepe excepturi quia sapiente ducimus iste optio? Inventore, perferendis iusto, aliquam veniam itaque rem animi corrupti totam dignissimos voluptatem asperiores sunt iure accusamus harum reprehenderit voluptatum eum atque nihil illo nulla temporibus. Temporibus reprehenderit ducimus totam. Tenetur officiis placeat possimus ad magnam praesentium voluptas laudantium. Recusandae, omnis voluptatum! Dolorem accusantium quos temporibus quo, vitae totam. Minima asperiores deleniti placeat tempora, eos debitis accusamus quod?
    </p>

    <br>

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit quibusdam quas ullam dolorem saepe esse quam, tempore nemo vero repellat blanditiis pariatur facilis, eius accusantium eaque eum, ipsa quidem officiis et numquam suscipit. Nam molestiae dolores cum error fuga ducimus quasi debitis magni at accusantium enim fugit cumque, ex velit praesentium unde corrupti qui? Perspiciatis totam ducimus saepe quasi fugit optio! Aliquid eveniet, dolorem molestias praesentium, ex iure architecto quo, iste explicabo debitis necessitatibus veritatis commodi voluptatum eaque itaque porro alias pariatur est illo! Nemo reprehenderit, at blanditiis id sapiente eum commodi nisi repellendus alias amet pariatur ex dignissimos totam omnis itaque, voluptatibus maxime, nesciunt iure? Nisi voluptates repudiandae saepe architecto assumenda. Doloremque, accusantium in eaque praesentium expedita sapiente dolores tenetur, aliquid, velit delectus voluptatibus animi doloribus ullam excepturi soluta quos eos odit amet ratione laborum perferendis officia. Similique rem voluptate corrupti amet natus. Quam vero at expedita distinctio exercitationem accusamus? Harum error, cumque quibusdam dignissimos deleniti ratione qui porro, esse asperiores veniam sequi, et magni? Commodi accusamus assumenda est, distinctio totam obcaecati facere quis animi ea nihil, quidem expedita illo. Qui eos repellendus reiciendis sunt eum dignissimos aliquid rerum, libero asperiores doloremque hic quis? Beatae repellat rerum fuga quod voluptatem mollitia asperiores aliquam unde possimus ad, ea iste accusamus nihil doloribus magni dolore magnam quaerat. Incidunt, excepturi nesciunt odit ipsum perferendis id vel? Necessitatibus iure iusto aliquid voluptates ducimus reprehenderit nihil, placeat, incidunt minus quod repudiandae vel. Neque iusto modi nobis architecto? Delectus sunt, eos numquam incidunt blanditiis est consectetur excepturi rerum reiciendis? Cupiditate ipsam veritatis, vero rem soluta id consequuntur alias quisquam sint, modi corporis. Cupiditate quo cumque, praesentium ipsam, possimus error at, numquam beatae quas sunt autem ea quis asperiores modi saepe aliquam explicabo non accusantium repellat placeat consequatur cum alias. Nam ea omnis accusamus debitis quam!
    </p>

</div>

<%- include('partials/footer'); -%>