<%- include('../partials/header'); -%>

<div class="container">

<h1 class="display-4 text-center m-4">
    This is a pet project. Take it as it is!
</h1>

<p class="my-4">
    Project started in june 2020. Alpha stage completed. Currently in beta stage, testing the sustainability of the platform. If you want to join our team,
    shoot an email at opreamihai01@yahoo.com.
</p>
<hr>
<p>
    List of objectives:
</p>
<table class="table table-striped">
    <tbody>
        <tr>
            <td style="text-decoration: line-through;">Add blog capabilities</td>
        </tr>
        <tr>
            <td style="text-decoration: line-through;">Add archive capabilities</td>
        </tr>
        <tr>
            <td>Add group/individual chat</td>
        </tr>
        <tr>
            <td>Add online contests</td>
        </tr>
    </tbody>
</table>


</div>

<%- include('../partials/footer'); -%>