<%- include('../partials/header'); -%>

<div class="container">

<h1 class="display-2 my-4">Page not found!</h1>

<img src="https://2.bp.blogspot.com/-0SBU15Wtp9g/UiAaUYEeuMI/AAAAAAAAKGQ/ukMKVjWjD7c/s1600/Background-Wallpaper-Albert-Einstein9.jpg"
class="img-fluid rounded">

</div>

<%- include('../partials/footer'); -%>