<%- include('../partials/header'); -%>

<div class="container">

    <form action="/register" method="POST" class="border border-light bg-light my-4 p-5"  onsubmit="return checkform(this);">
        <p class="display-3">Register</p>
        <div class="form-group my-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" minlength="4" maxlength="12" required placeholder="4-12 chars">
        </div>
        <div class="form-group my-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" minlength="4" maxlength="16" required>
        </div>

        <div class="g-recaptcha my-2" data-sitekey="6LeI8MwZAAAAAFEZ8nki6keOLT0shyAS5txPYb-1"></div>

        <button type="submit" class="btn btn-dark text-center my-2" style="width: 100%;" data-tilt data-tilt-max="0" data-tilt-scale="1.05">Register</button>
    </form>

    <script type="text/javascript">
        function checkform(form) {
            const v = grecaptcha.getResponse();
            if (v.length == 0) {
                alert("Please complete CAPTCHA!");
                return false;
            }
            return true;
        }
    </script>

</div>

<%- include('../partials/footer'); -%>