<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💻 SourceZ</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!-- APP CSS -->
    <link rel="stylesheet" type="text/css" href="/app.css">


</head>

<body class="rootpage">

<div class="row">

<div class="col-lg-4 col-xl-8">
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="col-lg-8 col-xl-4">
    
    <% if(!user || !isLoggedIn) { %>
    <div class="landing-page-form p-2 rounded"> 
        <h3>Welcome to SourceZ!</h3>
        
        <hr>
    
        <form action="/login" method="POST">
       
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username" placeholder="username" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="password" required>
            </div>
            <button type="submit" class="btn btn-dark" data-tilt data-tilt-max="0" data-tilt-scale="1.1">Login</button>
        </form>

        <hr>

        <p>If you do not have an account, you can register <a href="/register">here</a>. </p>
        <p>You can also enter as a <a href="/posts">guest</a>.</p>

    </div>
    <% } else { %>

        <div class="float-right m-2 rounded">
            <a href="/posts" class="btn btn-lg btn-dark m-2" data-tilt data-tilt-max="0" data-tilt-scale="1.1">Back to feed</a>
            <a href="/logout" class="btn btn-lg btn-danger m-2" data-tilt data-tilt-max="0" data-tilt-scale="1.1">Logout</a>
        </div>
    
    <% } %>

</div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

<!-- Load Tilt.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>

</body>
</html>