<%- include('../partials/header'); -%>

<div class="container">

    <h1 class="display-1 text-center">Problemset</h1>

    <% for(const problem of problems) { %>
        <div>
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title"> <%= problem.name %> </h5>
                    <h6 class="card-subtitle mb-2 text-muted">By <%= problem.author %> </h6>
                    <a href="#" class="card-link">Show problem</a>
                </div>
            </div>
        </div>
    <% } %>

    <form action="/problemset/newPb" method="POST">
        <p>Add new problem</p>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="problem[name]">
            </div>
            <div class="form-group">
                <label>Statement</label>
                <input type="text" class="form-control" name="problem[statement]">
            </div>
            <div class="form-group">
                <label>InFormat</label>
                <input type="text" class="form-control" name="problem[inFormat]">
            </div>
            <div class="form-group">
                <label>OutFormat</label>
                <input type="text" class="form-control" name="problem[outFormat]">
            </div>
            <div class="form-group">
                <label>Restrictions</label>
                <input type="text" class="form-control" name="problem[restrictions]">
            </div>
            <div class="form-group">
                <label>InEx</label>
                <input type="text" class="form-control" name="problem[inEx]">
            </div>
            <div class="form-group">
                <label>OutEx</label>
                <input type="text" class="form-control" name="problem[outEx]">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<%- include('../partials/footer'); -%>