<%- include('../partials/header'); -%>

<div class="container bg-light">

    <form action="/posts" method="POST" class="border border-light my-3 p-2">
        <p class="display-3">Add a new post</p>
        <div class="form-group my-3">
            <input type="text" class="form-control" name="post[title]" maxlength="30" required placeholder="title">
        </div>
        <select class="form-control" name="post[lang]">
            <option>EN</option>
            <option>RO</option>
        </select>
        <div class="form-group my-3">
            <textarea name="post[text]" class="form-control" rows="10" required>HTML Content of new post</textarea>
        </div>
        <button type="submit" class="btn btn-dark" data-tilt data-tilt-max="0" data-tilt-scale="1.05">Add post</button>
    </form>

    <hr>

    <div class="bg-light">
        <p>
            In order to have more control over your post`s aesthetics, you can use HTML tags. Here are the most common ones:
        </p>
        <div class="card" style="width: 100%;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">You can separate your paragraphs by placing text content between the &ltp&gt and &lt/p&gt tags</li>
                <li class="list-group-item">You can emphasize certain ideas by using the &ltstrong&gt and &lt/strong&gt tags (bold text) or &ltem&gt and &lt/em&gt tags (italic text)</li>
                <li class="list-group-item">You can use a single &lthr&gt tag in order to further space out your post</li>
                <li class="list-group-item">You can place your subtitles between &lth3&gt and &lt/h3&gt tags</li>
            </ul>
        </div>
    </div>

</div>

<%- include('../partials/footer'); -%>